@{
	var users = ViewBag.Users as List<User>;
	var no = 0;
}

<div class="row mb-4 align-items-center justify-content-between ml-2 mr-2">
	<div class="col-auto">
		<h1 class="app-page-title mb-0">User list</h1>
	</div>
	<div class="col text-end">
		<a class="btn app-btn-primary" asp-controller="Admin" asp-action="CreateUser">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
				<path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
				<path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
			</svg> Create
		</a>
	</div>
</div>

<div class="tab-content" id="orders-table-tab-content">
	<div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
			<div class="table-responsive-lg app-card-orders-table">
				<table id="user-list-table" class="table app-table-hover mb-0 text-left datatable">
						<thead>
							<tr>
								<th class="cell">No.</th>
								<th class="cell">Name</th>
								<th class="cell">Surname</th>
								<th class="cell">Email</th>
								<th class="cell"></th>
							</tr>
						</thead>
						<tbody>
							@{
								foreach (var user in users)
								{
									var nr = ++no;
										<tr>
											<td class="cell">@nr</td>
											<td class="cell">@user.Name</td>
											<td class="cell">@user.Surname</td>
											<td class="cell">@user.Email</td>
											<td class="cell"><a class="btn-sm app-btn-secondary" asp-controller="Admin" asp-action="UserIndex" asp-route-id="@user.Id">View</a></td>
										</tr>
								}
							}
						</tbody>
					</table>
				</div><!--//table-responsive-->
	</div><!--//tab-pane-->
</div><!--//tab-content-->

@section Scripts{
	<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" />

	<script  src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
	<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>

	<script>
		$(document).ready(function () {
			$('.datatable').DataTable({
				columnDefs: [
					{ targets: "_all", className: "text-start" },
				],
				paging: true,
				searching: true,
				ordering: true,
				"responsive": true
			});
			$('.datatable').on('draw.dt', function () {
				customizePagination();
			});

			$(window).on('resize', function () {
				customizePagination();
			});
			customizePagination();
		});



		function customizePagination() {
			$('.dt-search input').attr('autocomplete', 'off');

			$('.dt-paging button').each(function () {
				$(this).addClass('btn shadow-sm');
			});
			$('.dt-paging button').css({
				'background-color': '#fff',
				'border-color': '#15A362',
				'color': '#15A362',
				'margin': '2px'
			});

			$('.dt-paging .dt-paging-button.active button').css({
				'background-color': '#15A362',
				'color': '#fff',
				'border-color': '#15A362'
			});

			$('.dt-paging button').hover(
				function () {
					if (!$(this).hasClass('current')) {
						$(this).css('background-color', '#15A362');
						$(this).css('color', '#fff');
					}
				},
				function () {
					if (!$(this).hasClass('current')) {
						$(this).css('background-color', '#fff');
						$(this).css('color', '#15A362');
					}
				}
			);
		}
	</script>
}